$primary-color: #af9a7d;
$main-white: #fff;
$off-white: #f7f7f7;
$main-black: #222;
$main-grey: #ececec;
$dark-grey: #cfcfcf;
$main-transition: all 0.3s linear;
$main-spacing: 3px;
$light-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$dark-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
