.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: #f7f7f7;
  height: $header-height;
  transition: height 0.3s ease;

  .container {
    height: 100%;
  }

  &__logo {
    @include flex(center, center);
    position: absolute;
    inset: 0;
    pointer-events: none;

    img {
      height: 3rem;
    }
  }

  &__menu {
    @include flex(center, space-between);
    height: 100%;
    font-size: 3rem;
    font-family: "Updock", cursive;

    @include mobile {
      display: none;
    }

    &__item ~ &__item {
      margin-left: 39px;
    }
    &__item {
      transition: transform 0.5s ease;
    }
    &__item.active {
      // transform: translateY(-15px);
      margin-top: 50px !important;
    }
  }
}
